
body {
    padding-left: 80rem;
    padding-top: 40rem;
    padding-right: 33rem;
    font-size: 16rem;
    font-family: "Inter", sans-serif;
    background: url(./assets/bg-photo.png);
    background-size: 100%;
}

html {
    font-size: 1px
}
*{
    margin: 0;
    padding: 0;
}
.container{

    
    background-position: center top;
    background-size: 100% auto;
}
